<h1>Eat-Da-Burger</h1>
<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      <p>{{this.id}} | {{this.burger_name}}</p>

      <form action="/{{this.id}}?_method=PUT" method="POST">
        <button type="submit" name="devoured" value="true">Devour it!</button>
      </form>
    {{/unless}}
  {{/each}}
</ul>

<hr>

<ul>
  {{#each burgers}}
    {{#if this.devoured}}
    <p>{{this.id}}</p>
    <p>{{this.burger_name}}</p>

    {{/if}}
  {{/each}}
</ul>

<h3>Add a burger</h3>
<form action="/" method="POST">
  <textarea name="burger_name"></textarea>
  <button type="submit">Submit!</button>
</form>

